:root {
  --back-color: rgb(11, 14, 31);
  --main-color: #ffffff;
  --main-seat: #EAECEE;
  --main-selected: #A3F09A;
  --main-occupata: #2471A3;
}

* {
  font-family: "garamon", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  background: var(--back-color);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.cinemaInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-family: "garamon", serif;
}

.content select {
  padding: 0 1rem;
  --moz--appearance: none;
  --webkit--appearance: none;
  appearance: none;
  border: 0;
  border-radius: 3px;

  outline: none;
}

select#film {
  font-size: 1.3rem;
  margin: 0.6rem 0;
  padding: 0.8rem 2rem;
}

.content select option {
  font-size: 1.1rem;
  padding: 0 1rem;
}

label.title {
  font-size: 3rem;
  color: var(--main-color);
}

.seat.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #ffffff;

  background: var(--main-seat);
  height: 1.2rem;
  width: 1.2rem;
  margin: 0.4rem 0.2rem;
  border-top-left-radius: 0.2em;
  border-top-right-radius: 0.2em;
  cursor: pointer;
  transition: all 0.5s linear;
}

.sedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "garamon", serif;
  color: black;

  background: var(--main-seat);
  height: 2rem;
  width: 2rem;
  margin: 0.2rem;
  padding: 0.2rem;
  cursor: pointer;
  perspective: 100px;
  transition: all 0.5s linear;
}

.sedia:not(.occupata):hover {
  background: rgb(236, 124, 221);
  transform: scale(1.1);
}

.seat.info:hover {
  cursor: default;
  transform: scale(1.1);
}

.sedia.selezionata {
  background: var(--main-selected);
}

.sedia.occupata {
  background: var(--main-occupata);
  cursor: default;
}

.seat.info.occupata {
  background: var(--main-occupata);
  cursor: default;
}

.seat.info.selezionata {
  background: var(--main-selected);
  cursor: default;
}

.screenArea {
  background: #ffffff;
  height: 50px;
  width: 100%;
  margin: 0.8rem 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.8);
  text-align: center;
}

.screenArea span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70px;
  color: rgba(0, 0, 0, 0.1);
}

.theatre {
  margin-top: 0.4rem;
  perspective: 200px;
}

div.row {
  display: flex;
  position: relative;
}

div.theatreRows {
  margin-top: 2rem;
}

.rowNumb {
  font-family: sans-serif;
  font-weight: 600;
  text-decoration: none;
  opacity: 0.5;
  color: #ffffff;
  position: absolute;
  left: -50px;
  top: 5px;
  transition: 0.5s linear;
}

.rowNumb:hover {
  transform: scale(1.2);
  opacity: 1;
}

.checkout {
  margin: 0.6rem 0;
  color: rgba(231, 226, 226, 1);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "areaTwo areaOne";
  grid-gap: 0.6rem;
}

.checkout span.costo {
  color: rgb(4, 136, 26);
}

.costo {
  display: inline-block;
  min-width: 20px;

  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: 0.1rem;
}

.sedieTotale {
  display: inline-block;
  min-width: 20px;

  background: rgba(0, 0, 0, 0.3);

  text-align: center;
}

.postoS {
  min-height: 40px;
  max-width: 150px;
  margin-top: 0.2rem;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: var(--main-color);
  background: rgba(255, 255, 255, 0.3);
}

.btnAcquista {
  border: none;
  outline: none;
  width: 130px;
  padding: 0.6rem;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.5s linear;
  text-align: center;
  font-size: 1.2rem;
}

.btnAcquista:hover {
  color: #ffffff;
  background: var(--main-color);
}

.checkOutAreaOne {
  grid-area: areaOne;
}

.checkOutAreaTwo {
  grid-area: areaTwo;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkoutTotal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}